@media screen and (max-width: 980px){
    .contacto_form{
        margin: 15px;
        width: 350px;
    }
    .contact-text{
        width: 40px;
    }
    #enviar{
        width: 250px;
    }
    #nombre{
        width: 250px;
    }
    #email{
        width: 250px;
    }
    #telefono{
        width: 250px;
    }
    #mensaje{
        width: 250px;
    }
    #time{
        width: 250px;
    }
    #fecha{
        width: 250px;
    }
}
input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ab4493; 
    border-color: #ab4493; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  .aviso{
    font-size: 13px;  
    color: #000000;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: left; 
    padding-bottom: 20px; 
    color: #ab4493;
  }
  
  
  h2{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #000000;   
  }
